.mainContainer{
    width: 40%;
    min-height: 90vh;
    margin: 0 auto;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track{
    background-color: white;
    height: 70px;
    border-bottom: solid 1px lightblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.column{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}
.image{
    height: 60px;
    width: 60px;
}
.row{
    display: flex;
    gap: 20px
}